@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --petrolizado:#0B3860;
  --blanco: #fff;
  --azulespecial:rgba(1, 10, 52, 0.838);
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

#container-grid{
    height: 100vh;
    display: grid;
    grid-template:
    "logo" auto
    "nav" auto
    "banner" auto
    "descripcion" auto
    "feature" auto
    "ubicacion" auto
    "opiniones" auto
    "footer" auto;
}

/* Se diseña primero el movile first ----------------*/
.logo{
    grid-area: logo;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo-img menu-bars";
    background-color: var(--negro2);
    padding: 1rem;
    height: 80px;
}

.logo i{
    grid-area: menu-bars;
    color: var(--blanco);
    font-size: 2rem;
}
.logo img{
    grid-area: logo-img;
    width: 40%;
}

nav{
    grid-area: nav;
    display: grid;
    grid-template-areas: 
    "menu-item"
    "menu-item"
    "menu-item"
    "menu-hr" ;
    background-color: var(--azulespecial);
    padding: 1rem 0;
    position: absolute;
    z-index: 100;
    top: 80px;
    width: 100%;

}
.menu-hr{
    grid-area: menu-hr;
    width: 90%;
    background-color: var(--blanco);
    height: 1px;
    margin: 1rem 0;
}
.menu-item{
    padding: 1rem 0;
} 
nav a{
    color: var(--blanco);
    font-size: 1rem;
    text-decoration: none;
    font-family: 'Marcellus', serif;  
    text-align: center;   
}
nav a:hover{
    background-color: var(--petrolizado);
    width: 100%;
    text-align: center;
}
.navbar-button{
    font-size: 1rem;
    font-family: 'Marcellus', serif;  
    background-color: transparent;
    padding: 0.5rem;
    color: var(--blanco);
    cursor: pointer;
}

.banner{
    grid-area: banner;
    display: flex;
    flex-direction: column-reverse;
    background-image: url(../img/slide1.jpg);
    height: 400px;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    z-index: 0;
}
.banner p{
    padding: 0.5rem;
    color: var(--blanco);
    font-family: 'Marcellus', serif; 
    margin: 0.5rem;  
    background-color:rgba(1, 1, 1, 0.449);
    font-size: 2rem;
}

.descripcion{
    grid-area: descripcion;
    padding: 2rem 2rem 0 2rem;
    font-family: 'Roboto', sans-serif;
}
.descripcion .imagen-logo{
    height: 2rem;
    background-image: url(../img/HoteliaHorizontalBlanco.svg);
    visibility: hidden;
}

.feature{
    grid-area: feature;
    display: grid;
    grid-template-areas: 
    "titulo" 
    "partes";
    font-family: 'Marcellus', serif; 
    background-image: url(../img/bg-features.png);
}
.feature h2{
    grid-area: titulo;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    padding: 2rem;
    background-color:rgba(1, 1, 1, 0.449);
    font-size: 1rem;
    margin: 0.5rem;
}
.feature .cara{
    grid-area: partes; 
    display:grid;
    justify-content: space-around;
    text-align: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "feat1 feat2" 
    "feat4 feat3";
    margin: 1rem;
    color: var(--blanco);
}
.cara .feat1{
    grid-area: feat1;
    display: flex; 
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.488);
    padding: 1rem 0;
    margin-bottom: 0.5rem;
    height: 80px;
    width: 100px;
}
.cara .feat2{
    grid-area: feat2;
    display: flex; 
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-color: rgba(40, 43, 123, 0.727);
    padding: 1rem 0;
    height: 80px;
    width: 100px;
    margin-bottom: 0.5rem;
}
.cara .feat3{
    grid-area: feat3;
    display: flex; 
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.488);
    padding: 1rem 0;
    height: 80px;
    width: 100px;
    margin-bottom: 0.5rem;
}
.cara .feat4{
    grid-area: feat4;
    display: flex; 
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-color: rgba(40, 43, 123, 0.727);
    padding: 1rem 0;
    height: 80px;
    width: 100px;
    margin-bottom: 0.5rem;
}

.ubicacion{
    grid-area: ubicacion;

    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: 'Marcellus', serif; 
}
.ubicacion h2,h3{
    text-align: center;
    margin: 1rem;
}
.ubicacion h3{
    text-decoration:underline;
}
.ubicacion h4{
    text-align: center;
}
.ubicacion .mapa{
    width:100%;
    height:350px;
}
.borde{
    border: 2px solid var(--azulnegro);
}

.opiniones{
    grid-area: opiniones;
    display: grid;
    grid-template-areas: "texto"
    "op";
    align-items:center;
    padding: 2rem;
    color: var(--blanco);
    font-family: 'Marcellus', serif; 
    background: linear-gradient(0deg, white 60%, black 60%);
}
.opiniones .mensaje{
    grid-area: texto;
    text-align: center;
    color: var(--blanco);
    font-size: 2rem;
    font-family: 'Marcellus', serif; 
}
.usu{
    grid-area: op;
    justify-content: space-around;
    padding: 2px;
}
.opiniones .op{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--azulespecial);
    margin: 1rem;
    border: 2px solid var(--negro2);
    text-align: center;
}
.opiniones img{
    border-radius: 100%;
    width: auto;
    height: 100px;
}
.opiniones .op1{
    background-image: url(/assets/img/Vector-opinion.png);
    background-size:105%; 
    width: 100%;
    height: auto;
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    
}

.opiniones .op2{
    background-image: url(/assets/img/Vector-opinion.png);
    background-size:105%; 
    width: 100%;
    height: auto;
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.opiniones .op3{
    background-image: url(/assets/img/Vector-opinion.png);
    background-size:105%; 
    width: 100%;
    height: auto;
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.op p{
    padding: 0.5rem;
}

.footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "izq cent der" ;
    justify-content: space-around;
    background-color: var(--negro2);
    color: var(--blanco);
    padding: 1rem;
    font-family: 'Marcellus', serif; 
}
.footer .izq,.der,.cent{
    width: 100%;
    height: 150px;
    font-family: 'Marcellus', serif; 
    margin: 0.5rem;
    padding: 0.5rem;
}
.footer .izq{
    grid-area: izq;
}
.footer .cent{
    grid-area: cent;
    display: flex;
    flex-direction: column; 
}
.footer .der{
    grid-area: der;
}
.cent div{
    display: flex;
    justify-content:left;
}
.cent p{
    margin-left: 0.5rem;
}

/* Empieza tablet */
@media (min-width: 600px) {
    .logo{
        grid-area: logo;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "logo-img menu-bars";
        justify-content: space-between;
        background-color: var(--negro2);
        padding: 1rem;
        height: 80px;
    }
    
    .logo i{
        grid-area: menu-bars;
        color: var(--blanco);
        font-size: 2rem;
    }
    .logo img{
        grid-area: logo-img;
        width: 40%;
    }
    nav{
        visibility: hidden;
    }

    .banner{
        height: 600px;
    }
    .descripcion{
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto;
        grid-template-areas: "texto logo" ;
        justify-content: space-between;
        padding: 2rem;
        font-family: 'Roboto', sans-serif;
    }
    .descripcion .texto{
        grid-area: texto;
        padding: 1rem;
    }
    .descripcion .imagen-logo{
        height: fit-content;
        grid-area: logo;
        visibility: visible;
    }
    .feature .cara{
        display:grid;
        justify-content: space-around;
        text-align: center;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "feat1 feat2 feat4 feat3";
        margin: 1rem;
        color: var(--blanco);
    }
    .usu{
        grid-area: op;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "op1 op2 op3";
        justify-content: space-around;
        padding: 2px;
    }
    .opiniones .op1{
        grid-area: op1;
    }
    
    .opiniones .op2{
        grid-area: op2;
    }
    .opiniones .op3{
        grid-area: op3;
    }
}